<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="test/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="unit">
            <directory>test/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>test/Integration</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>integration</group>
            <group>testcontainers</group>
        </exclude>
    </groups>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <coverage>
        <report>
            <html outputDirectory="build/coverage/html"/>
            <text outputFile="build/coverage/coverage.txt"
                  showUncoveredFiles="true"/>
            <clover outputFile="build/coverage/clover.xml"/>
        </report>
    </coverage>
</phpunit>
