<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="test/bootstrap.php"
         cacheResult="false"
         colors="true">
    <testsuites>
        <testsuite name="unit">
            <directory>test/ZammadAPIClient</directory>
            <exclude>test/ZammadAPIClient/Resource</exclude>
        </testsuite>
        <testsuite name="integration">
            <directory>test/ZammadAPIClient/Resource</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>integration</group>
            <group>testcontainers</group>
        </exclude>
    </groups>
    <php>
        <!-- Note: unit tests are only possible via username and password -->
        <!--
        <env name="ZAMMAD_PHP_API_CLIENT_UNIT_TESTS_URL" value="https://...." />
        <env name="ZAMMAD_PHP_API_CLIENT_UNIT_TESTS_USERNAME" value="..." />
        <env name="ZAMMAD_PHP_API_CLIENT_UNIT_TESTS_PASSWORD" value="..." />
        <env name="ZAMMAD_PHP_API_CLIENT_UNIT_TESTS_TIMEOUT" value="30" />
        -->
    </php>
</phpunit>
